body{
  padding-top: 100px;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  border-bottom: 1px solid rgba(142, 142, 142, 0.9);
}
.card {
  margin-bottom: 30px !important;
}
.air-quality {
  /* background-color: aquamarine; */
  margin-left: 0vmin;
  margin-right: 0vmin;
  text-align: center;
  align-items: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: rgb(234, 192, 109);
}
.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.fixed-top {
  z-index: 1020 !important;
}
.DateTextBox{
  width: 2in;
}
.DateTextBox{
  width: 2in;
}
